.block-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
  }
  
  #blocks {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: #f4f3f2;
  }
  
  .block {
    width: 60px;
    height: 60px;
    border: 0.5px solid rgba(235, 233, 233, 0.766);
    transition: border-color 0.3s ease;
    z-index: 10;
  }
  
  .highlight {
    border-color: #ff5722;
    
  }
  