.project-p-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 20px;
    border-top: 1px solid rgb(123, 123, 123);
    cursor: pointer;
    transition: all 0.2s;
    z-index: 2;
    pointer-events: auto;
    transition: background-color all 0.3s;
}

a{
    text-decoration: none;
    color: black;
}

.project-p-container:hover{
    border-top: 1px solid rgb(0, 0, 0);
    background-color: #ec4e39;
    font-weight: 600;
}

.project-p-container h2{
    font-family: "Inter", sans-serif;
    font-size: 50px;
    font-weight: 350;
}



.text-hover{
    position: relative;
    font-family: "Inter", sans-serif;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 27px;
    margin: 0px;
    font-weight: 450;
    transition: all 0.4s;

}


.word-span {
    display: inline-block;
    margin-right: 8px; 
}

.inline-span {
    display: inline-block;
    overflow: hidden;
}

.another-text{
    position: absolute;
    inset: 0;
}

